* {
    box-sizing: border-box;
    margin: 0px auto;
    position: relative;
    width: 1500px;
    padding: 10px;

}

body {
    background-color: #BEBEBE;
    margin: 0px;
}

header h1 {
    background-color: #3C3C3C;
    color: white;
    font-family: 標楷體;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

ul,
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/*Table of contents*/

nav {
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav a {
    padding: 14px 16px;
    display: inline-block;
}

.catalog {
    display: flex;
    text-align: center;
    font-family: 標楷體;
}

.catalog a {
    position: relative;
    text-decoration: none;
    padding: 2px;
    color: black;
    font-size: 30px;
    border-radius: 50px;
    width: 150px;
    transition: 0.1s ease;
    background: linear-gradient(to top, #E6E6F2, #7B7B7B);
}

.catalog a:hover {
    color: #1dff1d;
    transform: scale(1.20);
}

/*image*/

@keyframes move {

    0%,
    15% {
        transform: translateX(300px);
    }

    15%,
    30% {
        transform: translateX(0px);
    }

    30%,
    45% {
        transform: translateX(-300px);
    }

    45%,
    60% {
        transform: translateX(-600px);
    }

    60%,
    80% {
        transform: translateX(-300px);
    }

    80%,
    100% {
        transform: translateX(0px);
    }

    100%,
    100% {
        transform: translateX(300px);
    }
}

.play {
    width: 1000px;
    height: 550px;
    overflow: hidden;
    border-radius: 25%;
    box-shadow: 20px 20px 50px 10px rgba(57, 57, 57, 0.786);
}

.play ul {
    display: flex;
    animation: move 12s linear infinite;
}

.play img {
    width: 300px;
    height: 525px;
}

/*Aboutme*/
.Aboutme {
    position: relative;
    right: 20px;
    border-radius: 15px;
    transition: 0.5s ease;
    box-shadow: 20px 20px 30px 10px rgba(151, 151, 242, 0.786);
}

.Aboutme:hover {
    transform: scale(1.05);
}

.me,
.myskill {
    display: flex;
}

.me img {
    border-radius: 10px 50px 90px 150px;
    width: 400px;
    height: 650px;
    box-shadow: 1px 10px 10px 1px rgba(211, 211, 255, 0.786);
    transition: 0.5s ease;
}

.me img:hover {
    box-shadow: 1px 10px 10px 1px rgba(21, 21, 255, 0.786);
}

.personal {
    width: 50%;
    text-align: left;
    font-family: 微軟正黑體, "Arial";
    font-size: 20px;
    background: linear-gradient(to top, #7B7B7B, #E6E6F2);
    box-shadow: 1px 10px 10px 1px rgba(211, 211, 255, 0.786);
    border-radius: 50px;
}

.personal:hover {
    box-shadow: 1px 10px 10px 1px rgba(21, 21, 255, 0.786);
}

/*Skill*/
.Skill {
    position: relative;
    right: 20px;
    border-radius: 15px;
    box-shadow: 20px 20px 30px 10px rgba(117, 239, 136, 0.966);
    transition: 0.5s ease;
}

.Skill:hover {
    transform: scale(1.05);
}

.cir {
    width: 250px;
    transform: rotate(270deg);
    transition: transform 0.5s ease;
}

.cir:hover {
    transform: rotate(-90deg) scale(1.10);
}

svg circle {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 8;
}

.internal {
    opacity: 0.2;
}

.external1 {
    stroke-dasharray: 187;
    animation: dash1 4s linear forwards infinite;
}

.external2 {
    stroke-dasharray: 176;
    animation: dash2 4s linear forwards infinite;
}

.external3 {
    stroke-dasharray: 154;
    animation: dash3 4s linear forwards infinite;
}

.external4 {
    stroke-dasharray: 130;
    animation: dash4 4s linear forwards infinite;
}

@keyframes dash1 {
    0% {
        stroke-dasharray: 35 187;
    }

    50% {
        stroke-dasharray: 187 187;
    }

    100% {
        stroke-dasharray: 187 187;
    }
}

@keyframes dash2 {
    0% {
        stroke-dasharray: 35 1176;
    }

    50% {
        stroke-dasharray: 176 176;
    }

    100% {
        stroke-dasharray: 176 176;
    }
}

@keyframes dash3 {
    0% {
        stroke-dasharray: 66 154;
    }

    50% {
        stroke-dasharray: 154 154;
    }

    100% {
        stroke-dasharray: 154 154;
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 90 130;
    }

    50% {
        stroke-dasharray: 130 130;
    }

    100% {
        stroke-dasharray: 130 130;
    }
}

.cir circle {
    stroke: rgb(4, 85, 16);
}


.num {
    fill: rgba(33, 180, 55, 0.966);
    text-anchor: middle;
}

.skilltext {
    display: flex;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    color: #A6FFA6;
}

/*Experience*/
.Experience {
    position: relative;
    right: 20px;
    border-radius: 15px;
    box-shadow: 20px 20px 30px 10px rgba(219, 244, 110, 0.966);
    transition: 0.5s ease;
}

.Experience:hover {
    transform: scale(1.05);
}

.school {
    display: flex;
    align-items: center;
}

.school h2 {
    margin-right: -1125px;

}

.schoolname {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    margin-left: 5px;
    height: 400px;
    width: 500px;
    transition: all 1s ease;
}

.schoolimg {
    opacity: 0;
    width: 300px;
    height: 300px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(-100%);
}

.schoolname:hover .schoolimg {
    opacity: 1;
    transform: translateX(0%);
}

.schooltext1 {
    color: #000000;
}

.schooltitle1 {
    font-weight: 20%;
    color: #006531;
    margin: 20px;
    padding: 20px;
}

.schooltitle1:hover {
    color: #00ff7b;
}

.schooltext2 {
    color: #000000;
}

.schooltitle2 {
    color: #991d29;
    margin: -50px;
    padding: 20px;
}

.schooltitle2:hover {
    color: #ff283d;
}

.schooltext3 {
    color: #000000;
}

.schooltitle3 {
    color: #00510a;
    margin: 20px;
    padding: 20px;
}

.schooltitle3:hover {
    color: #01d119;
}

.schooltext4 {
    color: #000000;
}

.schooltitle4 {
    color: #0064aa;
    margin: -50px;
    padding: 20px;
}

.schooltitle4:hover {
    color: #46b0fc;
}

/*Certificate*/

.Certificate {
    position: relative;
    right: 20px;
    height: 900px;
    border-radius: 15px;
    box-shadow: 20px 20px 30px 10px rgba(248, 177, 112, 0.966);
    transition: 0.5s ease;
    padding: 0;
    margin: 0;
}

.Certificate:hover {
    transform: scale(1.05);
}

.Certificateimg {
    position: relative;
    right: 420px;
    bottom: 30px;
    width: 24.9%;
    background: linear-gradient(to top, #f6e4d8, #febd7b);
    border-radius: 50px;
}

.Certificateimg img {
    width: 330px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 15px;
}

.Certificateimg1 {
    transition: 0.5s ease;
}

.Certificateimg1:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px rgba(255, 171, 93, 0.966);
}

.Certificateimg2 {
    transition: 0.5s ease;
}

.Certificateimg2:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px rgba(251, 164, 82, 0.966);
}

.Certificateimg3 {
    transition: 0.5s ease;
    box-shadow: 1px 10px 10px 1px rgba(255, 171, 93, 0.966);
}

.Certificateimg3:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px rgba(255, 85, 0, 0.966);
}

.Certificatetext1 {
    position: relative;
    left: 200px;
    bottom: 860px;
    width: 500px;
    height: 220px;
    text-align: left;
    font-family: 微軟正黑體, "Arial";
    font-size: 13.5px;
    background: linear-gradient(to top, #e5e5df, #f3f0d1);
    box-shadow: 1px 10px 10px 1px rgba(211, 211, 255, 0.786);
    border-radius: 50px;
    transition: 0.5s ease;
}

.Certificatetext1:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px rgba(238, 238, 87, 0.966);
}

.Certificatetext2 {
    position: relative;
    left: 200px;
    bottom: 790px;
    width: 500px;
    height: 220px;
    text-align: left;
    font-family: 微軟正黑體, "Arial";
    font-size: 13.5px;
    background: linear-gradient(to top, #e1e1db, #ebe7c9);
    box-shadow: 1px 10px 10px 1px rgba(211, 211, 255, 0.786);
    border-radius: 50px;
    transition: 0.5s ease;
}

.Certificatetext2:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px rgba(242, 242, 107, 0.966);
}

.Certificatetext3 {
    position: relative;
    left: 295px;
    bottom: 720px;
    width: 690px;
    height: 240px;
    text-align: left;
    font-family: 微軟正黑體, "Arial";
    font-size: 13.5px;
    background: linear-gradient(to top, #d7d7d2, #e4e1c4);
    box-shadow: 1px 10px 10px 1px rgba(255, 171, 93, 0.966);
    border-radius: 50px;
    transition: 0.5s ease;
}

.Certificatetext3:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px rgba(255, 85, 0, 0.966);
}

/*University*/

.University {
    position: relative;
    right: 20px;
    height: 1500px;
    border-radius: 15px;
    box-shadow: 20px 20px 30px 10px rgba(112, 160, 248, 0.966);
    transition: 0.5s ease;
    padding: 0;
    margin: 0;
}

.University:hover {
    transform: scale(1.05);
}

.University {
    position: relative;
    right: 20px;
    height: 3450px;
    border-radius: 15px;
    box-shadow: 20px 20px 30px 10px rgba(48, 130, 244, 0.966);
    transition: 0.5s ease;
    padding: 0;
    margin: 0;
}

.University:hover {
    transform: scale(1.05);
}

.Universityimg1 {
    position: relative;
    left: 150px;
    top: 50px;
    width: 450px;
    height: 550px;
    transition: 0.5s ease;
    border-radius: 50px;
}

.Universityimg1:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px #30a3ef;
}

.Universityimg2 {
    position: relative;
    left: 800px;
    top: 150px;
    width: 600px;
    height: 450px;
    transition: 0.5s ease;
    border-radius: 50px;
}

.Universityimg2:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px #30a3ef;
}

.Universityimg3 {
    opacity: 0.2;
    position: relative;
    left: 20px;
    top: 250px;
    width: 350px;
    height: 450px;
    transition: 0.5s ease;
    border-radius: 50px;
    transition: all 1s ease;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(105%);
}


.Universityimg3:hover {
    opacity: 1;
    transform: translateX(0%);
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px rgba(255, 171, 93, 0.966);
}


.Universityimg4 {
    opacity: 0.2;
    position: relative;
    left: 735px;
    top: 250px;
    width: 350px;
    height: 450px;
    transition: 0.5s ease;
    border-radius: 50px;
    transition: all 1s ease;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(-105%);
}

.Universityimg4:hover {
    opacity: 1;
    transform: translateX(0%);
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px rgba(255, 171, 93, 0.966);
}

.Universityimg5 {
    position: relative;
    left: 150px;
    top: 350px;
    width: 350px;
    height: 500px;
    transition: 0.5s ease;
    border-radius: 50px;
}

.Universityimg5:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px #30a3ef;
}

.Universityimg6 {
    position: relative;
    left: 150px;
    top: 550px;
    width: 350px;
    height: 550px;
    transition: 0.5s ease;
    border-radius: 50px;
}

.Universityimg6:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px #f04ceb;
}


.Universityimg7 {
    position: relative;
    left: 260px;
    top: 400px;
    width: 650px;
    height: 520px;
    transition: 0.5s ease;
    border-radius: 50px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(50%);
}

.Universityimg7:hover {
    opacity: 1;
    transform: translateY(0%);
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px #30a3ef;
}

.Universityimg8 {
    position: relative;
    right: 780px;
    top: 350px;
    width: 150px;
    height: 150px;
    transition: 0.5s ease;
    border-radius: 50%;
}

.Universityimg8:hover {
    opacity: 1;
    transform: scale();
    box-shadow: 20px 20px 50px 10px #f10707;
}

.Universitytext1 {
    position: relative;
    left: 300px;
    bottom: 2400px;
    width: 480px;
    height: 250px;
    text-align: left;
    font-family: 微軟正黑體, "Arial";
    font-size: 20px;
    background: linear-gradient(to top, #d4e7f4, #c6e5fa);
    box-shadow: 1px 10px 10px 1px rgba(211, 211, 255, 0.786);
    border-radius: 50px;
    transition: 0.5s ease;
}

.Universitytext1:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px #61b8f2;
}

.Universitytext2 {
    position: relative;
    right: 300px;
    bottom: 2050px;
    width: 480px;
    height: 250px;
    text-align: left;
    font-family: 微軟正黑體, "Arial";
    font-size: 20px;
    background: linear-gradient(to top, #d4e7f4, #c6e5fa);
    box-shadow: 1px 10px 10px 1px rgba(211, 211, 255, 0.786);
    border-radius: 50px;
    transition: 0.5s ease;
}

.Universitytext2:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px #61b8f2;
}

.Universitytext3 {
    position: relative;
    bottom: 1675px;
    width: 680px;
    height: 250px;
    text-align: left;
    font-family: 微軟正黑體, "Arial";
    font-size: 20px;
    background: linear-gradient(to top, #d4e7f4, #c6e5fa);
    box-shadow: 1px 10px 10px 1px rgba(211, 211, 255, 0.786);
    border-radius: 50px;
    transition: 0.5s ease;
}

.Universitytext3:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px #61b8f2;
}

.Universitytext4 {
    position: relative;
    left: 200px;
    bottom: 1350px;
    width: 680px;
    height: 250px;
    text-align: left;
    font-family: 微軟正黑體, "Arial";
    font-size: 20px;
    background: linear-gradient(to top, #d4e7f4, #c6e5fa);
    box-shadow: 1px 10px 10px 1px rgba(211, 211, 255, 0.786);
    border-radius: 50px;
    transition: 0.5s ease;
}

.Universitytext4:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px #61b8f2;
}

.Universitytext5 {
    position: relative;
    left: 200px;
    bottom: 660px;
    width: 540px;
    height: 280px;
    text-align: left;
    font-family: 微軟正黑體, "Arial";
    font-size: 20px;
    background: linear-gradient(to top, #d4e7f4, #c6e5fa);
    box-shadow: 1px 10px 10px 1px rgba(211, 211, 255, 0.786);
    border-radius: 50px;
    transition: 0.5s ease;
}

.Universitytext5:hover {
    transform: scale(1.20);
    box-shadow: 20px 20px 50px 10px #61b8f2;
}

/*section*/
.card {
    padding: 20px;
    margin: 20px 0px;
    border-radius: 30px;
    background: linear-gradient(to top, #7B7B7B, #E6E6F2);
    background-size: cover;
}


/*footer*/
.footer {
    background: linear-gradient(to top, #7B7B7B, #000000);
    color: white;
    font-size: 20px;
    padding: 40px 50px 30px;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
}

.connection {
    text-align: left;
    width: 25%;
    font-family: 微軟正黑體;
}

.footer-img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    transition: 0.2s ease;
}

.footer-img:hover {
    transform: scale(1.20);
}